# Application
PROJECT_NAME="Search Engine API"
ENVIRONMENT="development"
ALLOWED_ORIGINS="http://localhost:3000"

# PostgreSQL Database
DATABASE_URL="postgresql://user:password@localhost:5432/search_db"

# Redis Cache
REDIS_URL="redis://localhost:6379/0"
